[*.lua]
indent_style = space
indent_size = 2
max_line_length = 88
quote_style = double
trailing_table_separator = always
table_separator_style = comma
continuation_indent = 2
call_arg_parentheses = keep
space_before_function_open_parenthesis = true
